/* #region BODY*/
body {
  margin: 0px;
  padding: 0px;
  background-color: #EEEEEE;
  background-image: url(../img/bg.svg);
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
.content-wrapper {
  padding: 23px;
}
/* #endregion */
/* #region BOOTSTRAP COL CONFIG*/
.col-md-6 {
  padding: 0px;
  margin: 0px;
}
/* #endregion */
/* #region HEADER*/
.app-header {
  padding: 20px;
  display: table-cell;
}

.app-logo {
  height: 50px;
}

.app-menu {
  float: right;
  margin-top: 15px;
  margin-left: 40px;
}

.header-links {
  text-decoration: none;
  color: #231E1E;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.05em;
}

.header-links:hover {
  color: #ADADAD;
  text-decoration: none;
}

.header-links:active {
  color: #ADADAD;
  text-decoration: none;
}

.header-links:focus {
  color: #ADADAD;
  text-decoration: none;
}
/* #endregion */

/* #region HOME CONTENT*/
.welcome-text {
  padding: 100px;
  padding-right: unset;
  text-align: right;
}
.welcome-img {
  text-align: left;
}

.welcome-text-title{
  color: #333;
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.welcome-text-parag{
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
}
/* #endregion */
/* #region READING CONTENT */
.main-book {
  margin-top: 50px;
  margin-bottom: 130px;
}

.main-card {
  height: 230px;
  width: 180px;
  background-color: rgba(148, 145, 145, 0.289);
}

.book-title {
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.book-desc {
  color: #808080;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.details-title {
  color: #808080;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-left: 20px;
}

.details-desc {
    color: #3f3f3f;
    font-size: 12px;
    letter-spacing: 0.02em;
}

.line-left {
  border-left: 2px solid #9e9e9e;
}

.line {
  height: 1.2px;
  width: 100%;
  background-color: #9e9e9e;
  margin-bottom: 20px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}


/* #region BOOK*/

.shelf {
  background: linear-gradient(transparent, white , white);
  margin: -20px;
  padding: 23px;
  
}

.book {
  display: inline-block;
  height: 200px;
  width: 150px;
  margin-right: 80px;
  margin-bottom: 60px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 3px;
  bottom: 34%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6d6e6d;
  background-image: url('../img/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.shelf-footer {
  text-align: center;
  margin-top: 30px;
}


/* #region CUSTOM SCROOLBAR*/
/* width */
::-webkit-scrollbar {
  margin-top: 2px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8888884f; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #88888887; 
}
/* #endregion */

/* #endregion */

/* #endregion */

/* #region SEARCH */
.search-books {
  background-color: rgba(204, 204, 204, 0.207);
  margin: 0;
  padding: 20px;
  padding-bottom: 10px;
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* #region BOOK GRID*/
.book {
  margin-bottom: 100px;
}
.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}
/* #endregion */

/* #endregion */

/* #region FOOTER*/
.app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;  
  background-color: white;
  color: #333;
  text-align: center;
  z-index: -1
}
.app-footer-menu {
  position: fixed;
  bottom: 120px;
  left: 40%;
  font-weight: bold;
}
/* #endregion */

/* #region RESPONSIVE*/
@media only screen and (max-width: 768px) {
  .welcome-text {
    text-align: center;
    padding: 0px;
    padding-top: 50px
  }

  .welcome-img {
    text-align: center;
  }
}

@media only screen and (max-width: 414px) {

  .app-logo {
    margin: unset;
    padding: unset;
    margin-left: 40%;
  }

  .app-menu {
    float: unset;
  }

  .welcome-text {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
  }

  .welcome-img {
    display: none;
  }

  .app-footer {
    height: 20%;
  }

  .app-footer-menu {
    margin-top: 15%;
  }

}
/* #endregion */